
<section class="padding bck color">
  <div class="row margin-bottom">
    <div class="column_4 offset_4 text center">
      <% if current_user %>
       <h1><%= link_to "You're in the wrong place", spas_path %></h1>
      <% end %>
      <h1><strong>Thirst</strong> a gram</h1>
    </div>
  </div>
  <div class="row">
    <div class="column_4 offset_4 text center">
      <img src="assets/logo.png">
      <h2><%= link_to "Sign in with Instagram!", "/auth/instagram", id: "gram" %></h>
    </div>
  </div>
</section>
<footer class="bck light">
  <div class="row margin-top margin-bottom">
    <div class="column_4 offset_4 text center">
      <a target="_blank" href="https://github.com/paco-orozco"><p>Handcrafted by <strong>Francisco Orozco  </strong><span class="icon github-alt"></span></p></a>
    </div>
  </div>
</footer>




