
<section class="padding bck color">
  <div class="row">
    <div class="column_4 offset_4 text center">
      <% if current_user %>
       <h1><%= link_to "You're in the wrong place", spas_path %></h1>
      <% end %>
      <img src="assets/logo.png">
      <h2><%= link_to "Sign in with Instagram!", "/auth/instagram", id: "gram" %></h>
    </div>
  </div>

</section>


