<% unless !current_user %>

    <section class="padding">
      <div class="row">
        <div class="column_4">
            <div id="search">
              <h2>Hola!</h2>
              <%= form_tag('/sessions', :remote => true) do %>
                <%= text_field_tag "username", nil, :placeholder => "username", :size => 30 %>
                <%= submit_tag "return", :id => "button" %>
              <% end %>
            </div>
        </div>
        <div class="column_4">
          <div id="errors"></div>
        </div>
      </div>
    </section>


<article class="padding scroll">
    <div class="row">
      <div id="pics"></div>
    </div>
</article>



<article class="padding scroll">
  <div class="row">
    <div class="column_12 text center">
      <div id="user"></div>
    </div>
  </div>
  <div class="row">
    <div id="images"></div>
  </div>
</article>
<div class="row">
  <div id="a" data-tuktuk="modal" class="column_4">
    <header>
      <h4 class="text book inline">Comments!</h4>
      <button id="b" data-modal="close" class="transparent small on-right inline icon remove"></button>
    </header>
    <div id="final"></div>
  </div>
</div>

<div class="row text center">
  <div id="false"></div>
</div>
<% end %>