<h1>HOLA!</h1>

<%= form_tag('/sessions', :remote => true) do %>
  <%= text_field_tag "username", nil, :placeholder => "username", :size => 30 %>
  <%= submit_tag "return", :id => "button" %>
<% end %>



<div id="errors"></div>
<div id="pics"></div>
<div id="images"></div>
<div id="final"></div>